<title>TBA4251</title>
<!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" /> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
 <script src="/javascripts/bib/jqueryUITouch.js"></script>

<!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->


<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="/javascripts/bib/leaflet.ajax.min.js"></script>
<!-- <script src="/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script> -->
<script src="https://npmcdn.com/@turf/turf@3.5.1/turf.min.js"></script>

<!-- <script src="/scripts/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script> -->
<script src="/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
 <script src="/javascripts/main.js"></script>
<script src="/javascripts/geometry.js"></script>

<!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->
 <link rel="stylesheet" type="text/css" href="/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" />

 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
 <link rel="stylesheet" type="text/css" href="/stylesheets/overwrite.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<link rel="icon" href="../images/logo_orange.png">
<link href="/stylesheets/bib/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- the main fileinput plugin file -->
<script src="/javascripts/bib/fileinput.min.js"></script>