<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container-fluid noMarginPadding">
  <% include ../partials/nav.ejs %>
  <div id ="help" onclick="hideOrShowHelp(true)" style="display: none">
    <p class="text">Hei, test test test test</p>
  </div>
    <div class="row noMarginPadding">
      <div id ="darkening" onclick="hideThis('.popup'); fadeOutDarkening()" class ="darkening" style="display: "></div>
      <div class ="col-xs-12 col-md-12 noMarginPadding">
        <div id ="map"></div>
      </div>
      <!--   <div class="container"> HEI
      </div> -->
      <div id = "getStartedPopup" class="popup">
        <a class ="closeThis" onclick="hideThis('#getStartedPopup'); fadeOutDarkening()">X</a>
        <div class ="fileInputForm">
          <label class="control-label">Select your own geoJSON files</label>
          <input id="input-21" name="input7[]" multiple type="file" class="file file-loading" accept=".geoJSON">
          <div id="errorBlock" class="help-block"></div>
        </div>
        <p style="color: grey; text-align: center;">or</p>
        <button onclick="hideThis('#getStartedPopup'); hideOrShowSidebar(); addToMap(true); editNavbar();" class="btn btn-browse useDefaultBtn">Use default geoJSON files</button>
        <br>
        <br>
        <!-- <p class="text popupTextWhat" onclick="hideOrShowHelp(false)">But, what is this?</p> -->
      </div>
      <div id = "aboutPopup" class="popup" style="display: ">
        <a class ="closeThis" onclick="hideThis('#aboutPopup'); fadeOutDarkening()"><span style ="padding-left: 10px" class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div id ="sidebar" onclick="">
        <p class="sidebarHeader">LAYERS</p>
        <table id = "layerBox" class="sidebarBox" style="width: 100%"></table>
        <button onclick="" class="btn btn-browse useDefaultBtn" id="tollsBtn" title="For spatial operations">Tools</button>
        <table id = "legend" style="width: 100%">
          <tr class="legendtr">
            <td><span style ="padding-left: 10px" class="glyphicon  glyphicon-pencil"></span></td><td>Edit or download layer</td>
          </tr>
          <tr>
            <td><span style ="padding-left: 10px" class="glyphicon  glyphicon-eye-open"></span></td><td>Hide or show layer</td>
          </tr>
          <!-- <tr>
            <td><span style ="padding-left: 10px" class="glyphicon glyphicon-download-alt"></span></td><td>Download layer</td>
          </tr> -->
          <tr>
            <td><span style ="padding-left: 10px" class="glyphicon glyphicon-search"></span></td><td>Go to layer</td>
          </tr>
        </table>
      </div>
    </div>
    <div id="sidebarMenu">
      <a class ="closeThis" id="sidebarMenuClose" onclick="openCloseSidebarMenu();"><span style ="padding-left: 10px" class="glyphicon glyphicon-remove"></span></a>
    </div>
  </div>
</body>
</html>
