<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container-fluid noMarginPadding">
  <% include ../partials/nav.ejs %>
  <div id ="help" onclick="hideOrShowHelp(true)" style="display: none">
    <p class="text">Hei, test test test test</p>
  </div>
    <div class="row noMarginPadding">
      <div id ="darkening" onclick="hideThis('.popup'); fadeOutDarkening()" class ="darkening" style="display: "></div>
      <div class ="col-xs-12 col-md-12 noMarginPadding">
        <div id ="map"></div>
      </div>
      <!--   <div class="container"> HEI
      </div> -->
      <div id = "getStartedPopup" class="popup" style="display: none">
        <a class ="closeThis" onclick="hideThis('#getStartedPopup'); fadeOutDarkening()">X</a>
        <div class ="fileInputForm">
          <label class="control-label">Select your own geoJSON files</label>
          <input id="input-21" name="input7[]" multiple type="file" class="file file-loading" accept=".geoJSON">
          <div id="errorBlock" class="help-block"></div>
        </div>
        <p style="color: grey; text-align: center;">or</p>
        <button onclick="hideThis('#getStartedPopup'); hideOrShowSidebar(); addToMap(true); editNavbar();" class="btn btn-browse useDefaultBtn">Use default geoJSON files</button>
        <br>
        <br>
        <!-- <p class="text popupTextWhat" onclick="hideOrShowHelp(false)">But, what is this?</p> -->
      </div>
      <div id = "aboutPopup" class="popup" style="display: ">
        <a class ="closeThis" onclick="hideThis('#aboutPopup'); fadeOutDarkening()"><span style ="padding-left: 10px" class="glyphicon glyphicon-remove"></span></a>
        <p class="text" style="text-align: center">Spør du meg, så spør eg deg.</p>
      </div>
      <div id = "toolsPopup" class="popup" style="display: ">
        <a class ="closeThis" onclick="hideThis('#toolsPopup'); fadeOutDarkening()"><span style ="padding-left: 10px;" class="glyphicon glyphicon-remove" id="closeToolsPopup"></span></a>
        <div style="text-align: center;">
          <select class="dropdowns inputfocus" id="toolsSelect" onchange="selectTool()">
            <option value="" disabled selected>Select spatial operation</option>
            <option value="buffer">Buffer</option>
            <option value="merge">Union</option>
            <option value="intersect">Intersect</option>
            <option value="difference">Difference</option>
          </select>
        </div>
        <div id="allToolsDiv">
          <div id="bufferDiv" style="display: none">
            <p class="sidebartext sidebarheader" style="text-align: right; margin-top:40px; margin-bottom: 4px; color: #c6c6c6; font-size: x-small;">SELECT LAYER AND BUFFER DISTANCE</p>
            <hr style="margin: -12px 204px 24px -30px; border-color: #c6c6c6">
            <table id = "" style="width: 100%">
              <tr>
                <td style="width: 70%"><div style="text-align: center;">
                  <select class="dropdowns inputfocus" id="bufferSelect" onchange="">
                  </select>
                </td>
                <td><input type="number" class="inputfocus" name="fname" id="bufferInput"><p style="color: white; font-size: smaller; display: inline; margin-left: 10px;">M</p>
                </td>
              </tr>
            </table>
            <!-- <div id="errorBlock" class="help-block"></div> -->
            <div id="errorBuffer" class="error-message error" style="display: none;"></div>
            <button id="createBufferBtn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order" onclick="computeBuffer()" class="btn useDefaultBtn" title="">Create buffer</button>
          </div>
          <div id="mergeDiv" style="display: none">
            <p class="sidebartext sidebarheader" style="text-align: right; margin-top:40px; margin-bottom: 4px; color: #c6c6c6; font-size: x-small;">SELECT LAYERS TO UNITE</p>
            <hr style="margin: -12px 144px 24px -30px; border-color: #c6c6c6">
            <table id = "" style="width: 100%">
              <tr>
                <td style="width:"><div style="text-align: center;">
                  <select class="dropdowns inputfocus" id="merge1select" onchange="" style="width: 190px">
                  </select>
                </td>
                <td style="width:"><div style="text-align: center;">
                  <select class="dropdowns inputfocus" id="merge2select" onchange="" style="width: 190px">
                  </select>
                </td>
              </tr>
            </table>
            <div id="errorUnite" class="error-message error" style="display: none;"></div>
            <button id="createBufferBtn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order" onclick="computeMerge()" class="btn useDefaultBtn" title="">Compute union</button>
          </div>
          <div id="intersectDiv" style="display: none">
            <p class="sidebartext sidebarheader" style="text-align: right; margin-top:40px; margin-bottom: 4px; color: #c6c6c6; font-size: x-small;">SELECT LAYERS TO INTERSECT</p>
            <hr style="margin: -12px 169px 24px -30px; border-color: #c6c6c6">
            <table id = "" style="width: 100%">
              <tr>
                <td style="width:"><div style="text-align: center;">
                  <select class="dropdowns inputfocus" id="intersect1select" onchange="" style="width: 190px">
                  </select>
                </td>
                <td style="width:"><div style="text-align: center;">
                  <select class="dropdowns inputfocus" id="intersect2select" onchange="" style="width: 190px">
                  </select>
                </td>
              </tr>
            </table>
            <div id="errorIntersect" class="error-message error" style="display: none;"></div>
            <button id="createBufferBtn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order" onclick="computeIntersect()" class="btn useDefaultBtn" title="">Find intersection</button>
          </div>
          <div id="differenceDiv" style="display: none">
            <p class="sidebartext sidebarheader" style="text-align: right; margin-top:40px; margin-bottom: 4px; color: #c6c6c6; font-size: x-small;">SELECT LAYERS TO SUBTRACT</p>
            <hr style="margin: -12px 166px 24px -30px; border-color: #c6c6c6">
            <table id = "" style="width: 100%">
              <tr>
                <td style="width:"><div style="text-align: center;">
                  <select class="dropdowns inputfocus" id="difference1select" onchange="" style="width: 190px">
                  </select>
                </td>
                <td style="width:"><div style="text-align: center;">
                  <select class="dropdowns inputfocus" id="difference2select" onchange="" style="width: 190px">
                  </select>
                </td>
              </tr>
            </table>
            <div id="errorDifference" class="error-message error" style="display: none;"></div>
            <button id="createBufferBtn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order" onclick="computeDifference()" class="btn useDefaultBtn" title="">Compute difference</button>
          </div>
        </div>
      </div>
      <div id ="sidebar" onclick="">
        <p class="sidebarHeader">LAYERS</p>
        <!-- <table id = "layerBox" class="sidebarBox" style="width: 100%"></table> -->
        <ul id = "layerUl" class="sidebarBox" style="width: 100%"></ul>
        <button onclick="openPopup('#toolsPopup');" class="btn btn-browse useDefaultBtn" id="tollsBtn" title="For spatial operations">Tools</button>
        <table id = "legend" style="width: 100%">
          <tr class="legendtr">
            <td><span style ="padding-left: 10px" class="glyphicon  glyphicon-pencil"></span></td><td>Edit or download layer</td>
          </tr>
          <tr>
            <td><span style ="padding-left: 10px" class="glyphicon  glyphicon-eye-open"></span></td><td>Hide or show layer</td>
          </tr>
          <!-- <tr>
            <td><span style ="padding-left: 10px" class="glyphicon glyphicon-download-alt"></span></td><td>Download layer</td>
          </tr> -->
          <tr>
            <td><span style ="padding-left: 10px" class="glyphicon glyphicon-search"></span></td><td>Go to layer</td>
          </tr>
        </table>
        <div>
          <p id="sidebarHelp" onclick="openPopup('#aboutPopup')">WHAT IS THIS?</p>
        </div>
      </div>
    </div>
    <div id="sidebarMenu">
      <a class ="closeThis" id="sidebarMenuClose" onclick="openCloseSidebarMenu(-1);"><span style ="padding-left: 10px" class="glyphicon glyphicon-remove"></span></a>
      <!-- <p class="sidebartext" style="margin-top: 90px">LAYER NAME</p> -->
      <p class="sidebartext sidebarheader" style="text-align: right; margin-top: 101px; margin-bottom: 4px; color: #c6c6c6; font-size: x-small">LAYER NAME</p>
      <hr style="margin: -12px 71px 32px -10px; border-color: #c6c6c6">
      <div id="changelayernameinput" style="text-align: center; margin-top: -10px">
        <input id="layernameinput" class="inputfocus" type="text" name="layername">
      </div>

      <div id="filldiv">
        <p class="sidebartext sidebarheader" style="text-align: right; margin-top: 25px; margin-bottom: 4px; color: #c6c6c6; font-size: x-small">FILL</p>
        <hr style="margin: -12px 31px 32px -10px; border-color: #c6c6c6">
        <table id = "" style="width: 100%">
          <tr>
            <td><p class="sidebartext">Color</p></td>
          <td colspan="2">
            <div id="cpfill" class="input-group colorpicker-component" style="margin-top: -10px">
              <input id="cpfillinput" onchange="layerChanges(false)" style="margin-left: -2px" type="text" value="#00AABB" class="form-control colorpickerinput" />
              <span class="input-group-addon" style="border: none; background-color: rgba(255,255,255,0)"><i class="colorblock"></i></span>
            </div>
          </td>
          </tr>
          <tr>
            <td><p class="sidebartext">Opacity</p></td>
            <td class="tdslider"><input type="range" id ="opacityrange" min="0" max="1" step="0.1" value="Submit" onchange="updateValue(this.value, 'opacity'); layerChanges(false)"></td>
            <td><p id="opacity" class="slidertxt" style="width: 20px"></p></td>
          </tr>
        </table>
      </div>
      <div>
        <p class="sidebartext sidebarheader" style="text-align: right; margin-top: 25px; margin-bottom: 4px; color: #c6c6c6; font-size: x-small">STROKE</p>
        <hr style="margin: -12px 53px 32px -10px; border-color: #c6c6c6">
      <table id = "" style="width: 100%">
        <tr>
          <td><p class="sidebartext">Color</p></td>
          <td colspan="2">
            <div id="cpstroke" class="input-group colorpicker-component" style="margin-top: -10px">
              <input id="cpstrokeinput" onchange="layerChanges(false)" style="margin-left: -2px" type="text" value="#00AABB" class="form-control colorpickerinput" />
              <span class="input-group-addon" style="border: none; background-color: rgba(255,255,255,0)"><i id = "colorblock"class="colorblock"></i></span>
            </div>
          </td>
        </tr>
        <tr>
          <td><p class="sidebartext">Opacity</p></td>
          <td class="tdslider"><input type="range" id ="strokeopacityrange" min="0" max="1" step="0.1" value="Submit" onchange="updateValue(this.value, 'strokeopacity'); layerChanges(false)"></td>
          <td><p id="strokeopacity" class="slidertxt" style="width: 20px"></p></td>
        </tr>
        <tr>
          <td><p class="sidebartext">Weight</p></td>
          <td class="tdslider"><input type="range" id ="strokeweightrange" min="0" max="10" value="Submit" onchange="updateValue(this.value, 'strokeweight'); layerChanges(false)"></td>
          <td><p id="strokeweight" class="slidertxt" style="width: 20px"></p></td>
        </tr>
      </table>
      </div>
      <br>
      <div id="sidebaremenusavechangesdiv">
        <input type="submit" value="Save changes" class="btn" id="sidebaremenusavechangesbtn" onclick="layerChanges(true);">
       
        <button id="cancelBtn" onclick="openCloseSidebarMenu(-1)" class="btn btn-browse" title="Discard changes">Cancel</button>

        <p><span id="deleteLayer" class="glyphicon glyphicon-trash deleteDownload" title="Delete layer"></span><span style="padding-left: 30px; padding-right: 30px;"></span><a id="downloadLayer" href=""><span class="glyphicon glyphicon-download-alt deleteDownload" title="Download geoJSON layer"></span></p></a>

      </div>
    </div>
  </div>
</body>
</html>
